@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700&display=swap&subset=cyrillic');


body {
  box-sizing: border-box;
  background-color: #E5E5E5;
  background: 100vh;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MENU */

.menu {
  position: fixed;
  left: calc((100vw - 600px)/2);
  transform: translateX(-100%);
  padding: 24px 32px 0 0;
}

.menu_ul {
  margin-bottom: 60px;
}

.menu ul li {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
  padding: 20px;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

.nav__btn__icn {
  display: none;
}

.nav__icon {
  width: 28px;
  height: 28px;
  background-color: #000;

}

.nav__icon--home {
  mask: url(../img/home-icn.svg);
  -webkit-mask: url(../img/home-icn.svg);
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
}

.menu ul li:hover .nav__icon--home {
  background: #0038FF;
  cursor: pointer;
}

.nav__icon--bell {
  mask: url(../img/bell-icn.svg);
  -webkit-mask: url(../img/bell-icn.svg);
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
}

.menu ul li:hover .nav__icon--bell {
  background: #0038FF;
  cursor: pointer;
}

.nav__icon--chat {
  mask: url(../img/chat-icn.svg);
  -webkit-mask: url(../img/chat-icn.svg);
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
}

.menu ul li:hover .nav__icon--chat {
  background: #0038FF;
  cursor: pointer;
}

.nav__icon--bookmark {
  mask: url(../img/bookmark-icn.svg);
  -webkit-mask: url(../img/bookmark-icn.svg);
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
}

.menu ul li:hover .nav__icon--bookmark {
  background: #0038FF;
  cursor: pointer;
}

.menu ul li:hover {
  color: #0038FF;
  background-color: rgba(0, 0, 0, 0.05);
  background-size: 30px 200px;
  border-radius: 50px;
}

.speak_out {
  background: #0038FF;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}


/* MAIN */

main {
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 3vh;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main__header__h2 {
  font-weight: bold;
  font-size: 20px;
}

.main__header__h2_mobile {
  display: none;
}

.story {
  padding: 24px 32px 16px 24px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.story__user-ava {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.story__body__header {
  display: flex;
  align-items: center;

}

.story__body__header * {
  margin-right: 16px;
}

.story__body__header h3 {
  font-weight: bold;
  font: 20px;
}

.story__body__header a {
  text-decoration: none;
}

.story__body__header a,
.story__body__header span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.story__body p {
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
}

.story__body__actions {
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
  margin-top: 16px;
}

.story__body__actions li {
  position: relative;
  display: flex;
  align-items: center;
}
.story__body__actions__item {
  position: absolute;
  left: 28px;
}

.story__body__actions li:hover {
  cursor: pointer;
  filter: brightness(0.05);

}

.nav__your_friends {
  position: fixed;
  right: calc(25vw - 440px);
  transform: translateX(-93%);
  background: rgba(25, 25, 25, 0.05);
  border-radius: 12px;
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
}

.nav__your_friends h3 {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 5px;
}

.story__friend-ava {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.nav__your_friends ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.nav__your_friends ul li {
  display: flex;
  text-align: left;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.nav__your_friends ul li div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Размер 1024px */

@media (max-width:1024px) {

  .menu {
    padding: 0;
    left: calc((100vw - 850px)/2);

  }

  .nav__menu__text {
    display: none;
  }

  .menu a{
    margin-left: 10px;

  }

  .speak_out {
    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding:0 !important;
    display: inline-block;
  }

  .nav__btn__icn {
    display: block;
    background-image: url(../img/new-tweet.svg);
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .nav__btn__text {
    display: none;
  }

  .nav__your_friends {
    right: calc(25vw - 450px);
  }

  main {
    margin: 0 100px;
  }
}

/* Размер 768px */

@media (max-width:768px) {

  .menu {
    padding: 0;
    left: calc((100vw - 600px)/2);
  }

  .nav__menu__text {
    display: none;
  }

  .menu a{
    margin-left: 10px;

  }

  .speak_out {
    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding:0 !important;
    display: inline-block;
  }

  .nav__btn__icn {
    display: block;
    background-image: url(../img/new-tweet.svg);
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  .nav__btn__text {
    display: none;
  }

  .nav__your_friends {
    display: none;
  }

  main {
    margin: 0 100px;
  }

}

/* Размер 320px */

@media (max-width:320px) {

  /* меню */

  .menu {
    width: 320px;
    height: 86px;
    padding: 0;
    left: calc(100vw - 0px);
    margin: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    z-index: 100;
  }

  .nav__menu__text {
    display: none;
  }

  .menu a{
    display: none;
  }

  .menu ul {
    display: block;
    margin-bottom: 0;
    text-align: center;
    margin-top: 15px;
  }

  .menu ul li {
    display: inline;
    padding: 0px 20px 11px 20px;
  }

  .li__home {
    border-bottom: 2px solid #0038FF !important;
  }

  .nav__icon--home {
    background-color: #0038FF;
  }

  .speak_out {
    display: none;
  }

  .speak_out__mobile {

    display: block;
    background-image: url(../img/new-tweet.svg);
    width: 20px;
    height: 20px;
    margin: 10px;

    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding:0 !important;
    display: inline-block;
  }

  .nav__btn__icn {
    display: block;
    background-image: url(../img/new-tweet.svg);
    width: 20px;
    height: 20px;
    margin: 10px;
  }

  .nav__btn__text {
    display: none;
  }

  .nav__your_friends {
    display: none;
  }


  main {
    display: inline-block;
    align-items:baseline;
    width: 320px;
    min-height: 100vh;
    margin: 0;
    border: none;
  }

  .main__header{
    display: flex;
    padding-bottom: 70px;
  }
  .main__header__h2 {
    display: none;
  }

  .main__header__h2_mobile {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0px 0px 30px;
  }

  .main__header img {
    display: none;
  }

  .story {
    display: block;
  }

  .story__body__actions {
    margin: 0;
  }

  .story__body__header h3 {
    display: flex;
  }

  .story__body__actions__item {
    position: relative;
  }

  .story__body p {
    padding-bottom: 15px;
  }

  .story__user-ava {
    width: 40px;
    height: 40px;
  }

  .story__body__header {
    flex-direction: column;
  }

}
